<!-- Latest compiled and minified CSS -->
<!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<!--Navigation Bar-->
  <nav class="navbar  navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
     </div>
     <div class="collapse navbar-collapse" id="navbar-collapse">

      <ul class="nav navbar-nav">
         <li><a href="/admin">HOME</a></li>
                  <!-- <li><a href="/api/accept">NEW JOBS</a></li> -->
         <li> <a href="" class="dropdown-toggle" data-toggle="dropdown">JOBS <b class="caret"></b></a>

             <ul class="dropdown-menu nav navbar-nav" style="top: 53px;background-color: #222">
                <li ><a href="/api/accept" style="text-decoration: none;">ACCEPT JOBS</a></li>
                <li><a href="">ASSIGN JOBS</a></li>
                <li><a href="/api/jobs">VIEW JOBS</a></li>
             </ul>
         </li>
         <li> <a href="" class="dropdown-toggle" data-toggle="dropdown">REPORTS <b class="caret"></b></a>
             <ul class="dropdown-menu nav navbar-nav" style="top: 53px;background-color: #222">
                <li ><a href="" style="text-decoration: none;"> PERIODIC REPORTS</a></li>
                <li><a href="/api/getDetails">WEEKLY REPORTS </a></li>
             </ul>
         </li>
     </ul>
     <ul class="nav navbar-nav navbar-right admin-nav">
         <button type="submit" class="btn btn-primary" id="adminLogin" data-toggle="modal" data-delay = "50" data-target="/">Log Out<i class="fa fa-key" aria-hidden="true"></i></button>
     </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav> <!--End Nav-->
<!--End Nav-->
<<div class="body-webpage">
<div class="text-right">
<div class="container form-container">
    <div class="form-group row" >

   <form method="GET" action="/api/getDetails" class="month-size">
   <label style="position: relative;top: 5px;font-size: 15px">Create Date:</label>

	<input type="text"  class="form-control form-control-2 input-sm to create" placeholder="Enter Month" id="date3" name="date3" />
	<button type="submit" class="btn btn-default button-report">Generate Report</button>
	</form>
    </div>
 </div>

<div class="container">
    <div class="row featurette month-row" >
      <div class="panel panel-primary filterable">
        <div class="panel-heading month-heading">
          <h3 class="panel-title" style="position: relative;left: -830px">Monthly Report</h3>
            <div class="pull-right">
                <!-- <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button> -->
            </div>
        </div>
        {{description}}
         <table class="table ">
            <thead>
                <tr class="filters">
                    <th class="th">Technician Id</th>
                    <th class="th">Client Name</th>
                    <th class="th">Date</th>
                    <th class="th">Services</th>
                    <th class="th">Location</th>
                    <th class="th">Current Job</th>
                    <th class="th">Job Status</th>
                    <!-- <th>Subject</th> -->
                </tr>
                </thead>
                <tbody>
                {{#each Job}}
                <tr>
                    <td>{{this.dataValues.TechnicianId}}</td>
                    <td>{{this.dataValues.client_name}}</td>
                    <td>{{this.dataValues.createdAt}}</td>
                    <td>{{this.dataValues.services}}</td>
                    <td>{{this.dataValues.Technician.location}}</td>
                    <td>{{this.dataValues.Technician.current_job}}</td>
                    <td>{{this.dataValues.Technician.job_status}}</td>

                     <!-- <td>{{ this.subject }}</td> -->
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

              <hr class="featurette-divider">


    </div> <!-- END SERVICES JUMBOTRON-->
</div>


<script type="text/javascript">
 $(document).ready(function(){
var startDate = new Date();
var fechaFin = new Date();
var FromEndDate = new Date();
var ToEndDate = new Date();
$('.from').datepicker({
    autoclose: true,
    startView: 1,
    minViewMode: 1,
    format: 'mm/yyyy'
}).on('changeDate', function(selected){
        startDate = new Date(selected.date.valueOf());
        startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
        $('.to').datepicker('setStartDate', startDate);
    });
$('.to').datepicker({
    autoclose: true,
    startView: 1,
    minViewMode: 1,
    format: 'M-yyyy'
}).on('changeDate', function(selected){
        FromEndDate = new Date(selected.date.valueOf());
        FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
        $('.from').datepicker('setEndDate', FromEndDate);
    });
});
//   $("#add-btn").on("click", function(event) {
//       event.preventDefault();
//       var newCharacter = {
//         date3: $("#date3").val().trim(),
//         // date2: $("#date2").val().trim(),
//       };
//       // Question: What does this code do??
//       $.post("/api/new1", newCharacter)
//       .done(function(data) {
//         // console.log(data);
//         // alert("Adding character...");
//       });
//     });
 </script>
