
<!-- Still Working on this -->

<!-- Restructuring Navbar here to accomodate Admin View. Not including Services and contact in navbar instead including New Jobs, assign jobs, reports. -->
 <div class="collapse navbar-collapse" id="navbar-collapse">

<!--Navigation Bar-->
  <nav class="navbar  navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
     </div>
     <div class="collapse navbar-collapse" id="navbar-collapse">

      <ul class="nav navbar-nav">
         <li><a href="/">HOME</a></li>
                  <!-- <li><a href="/api/accept">NEW JOBS</a></li> -->
         <li> <a href="" class="dropdown-toggle" data-toggle="dropdown">JOBS <b class="caret"></b></a>

             <ul class="dropdown-menu nav navbar-nav" style="top: 53px;background-color: #222">
                <li ><a href="/api/accept" style="text-decoration: none;">NEW JOBS</a></li>
                <li><a href="">ASSIGN JOBS </a></li>
                <li><a href="/api/jobs">VIEW JOBS</a></li> 
             </ul>
         </li>
        <li> <a href="" class="dropdown-toggle" data-toggle="dropdown">REPORTS <b class="caret"></b></a>
             <ul class="dropdown-menu nav navbar-nav" style="top: 53px;background-color: #222">
                <li ><a href="/api/getDate" > Periodic Report</a></li>
                <li><a href="/api/getDetails">Monthly Report </a></li>
             </ul>
         </li>
     </ul>
     <ul class="nav navbar-nav navbar-right admin-nav">
         <button type="submit" class="btn btn-primary" id="adminLogin" data-toggle="modal" data-delay = "50" data-target="/">Log Out<i class="fa fa-key" aria-hidden="true"></i></button>
     </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav> <!--End Nav-->
<div class="body-webpage">
<div class="text-right">
<div class="container form-container report-form-container">
    <div class="form-group row" >

   <form method="GET" action="/api/getDate" class="form-align">
     <label for="example-datetime-local-input" class=" col-form-label startDateLabel">Start Date</label>
  <!-- <div class="col-4"> -->
    <input class="form-control " type="datetime-local" value="2011-08-19T13:45:00" id="date1" name="startdate" style="position: relative;left: 340px;top: -10px;width: 260px">
    </div>
    <div class="form-group row">
    <label for="example-date-input" class="col-form-label endDateLabel">End Date</label>
  <!-- <div class="col-4"> -->
    <input class="form-control " type="datetime-local" value="2011-08-19T13:45:00" id="date2" name="endDate" style="position: relative;left: 740px;top: -180px;width: 260px">
    </div>

    <div class="text-right">
    <button type="submit" class="btn btn-default button-report" style="position: relative;top: -226px;left: 198px">Generate Report</button>
    </div>
    </form>
    </div>
 </div>

<div class="container">
    <div class="row featurette report-row" >
      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <h3 class="panel-title report-panel-title">Periodic Report</h3>
            <div class="pull-right">
              
            </div>
        </div>
        {{services}}
         <table class="table ">
            <thead>
                <tr class="filters">
                    <th class="thWidth">Technician Id</th>
                    <th class="thWidth">Client Name</th>
                    <th class="thWidth">Date</th>
                    <th class="thWidth">services</th>
                    <th class="thWidth">Location</th>
                    <th class="thWidth">Current Job</th>
                    <th class="thWidth">Job Status</th>
                    <!-- <th>Subject</th> -->
                </tr>
                </thead>
                <tbody>
                {{#each Job}}
                <tr>
                    <td>{{this.dataValues.TechnicianId}}</td>
                    <td>{{this.dataValues.client_name}}</td>
                    <td>{{this.dataValues.createdAt}}</td> 
                    <td>{{this.dataValues.services}}</td>
                    <td>{{this.dataValues.Technician.location}}</td>
                    <td>{{this.dataValues.Technician.current_job}}</td>
                    <td>{{this.dataValues.Technician.job_status}}</td>
                    
                     <!-- <td>{{ this.subject }}</td> -->
                </tr>
                {{/each}}
                </tbody> 
            </table>
        </div>

              <hr class="featurette-divider">


    </div> <!-- END SERVICES JUMBOTRON-->
</div>

<script type="text/javascript">
    // Question: What does this code do?
    $("#add-btn").on("click", function(event) {
      event.preventDefault();
      var newCharacter = {
        date1: $("#date1").val().trim(),
        date2: $("#date2").val().trim(),
      };
      // Question: What does this code do??
      $.post("/api/new", newCharacter)
      .done(function(data) {
        console.log(data);
        // alert("Adding character...");
      });
    });
  </script>
